{% extends 'home/base.html' %}
{% block title %}{{prom.name}}{% endblock %}
{% block content %}

    <div class="page-header">
        
        {% include 'includes/header.html' %}

    </div><!-- .page-header -->

    <div class="container mt-5 pt-5">
        <h2 style="text-align: center; padding: 4px 0px;">{{prom.name}}</h2>
        <div class="row">
            <div class="col-12 offset-lg-1 col-lg-1">
            </div><!-- .col -->

            <div class="col-12 col-lg-8">
                <div class="single-course-wrap">
                    <div class="single-course-cont-section">

                        <h2>Description</h2>

                        <p>{{prom.content|linebreaks}}</p>

                        <!-- <ul class="p-0 m-0 black-doted">
                            <li>{{prom.content|linebreaks}}</li>
                        </ul> -->
                    </div>
                </div><!-- .single-course-wrap -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->

{% endblock %}