{% extends 'home/base.html' %}
<!-- {% block title %}Medi Social{% endblock %} -->
{% block content %}

    <div class="page-header">
        
        {% include 'includes/header.html' %}

    </div><!-- .page-header -->

    <div class="banner-univ" style="height: 350px; background-image: url('{{univ.picture.url}}'); background-size: cover;">
        <div class="container h-100">
            <div class="d-flex justify-content-center align-items-end h-100">
                <div class="col-12">
                    <h2 style="background-color: rgba(0, 0, 0, 0.2); text-align: center; padding: 4px 0px; border-radius: 15px;">{{univ.name}}</h2>
                </div><!-- .col -->
            </div><!-- .entry-header -->
        </div><!-- .container -->
    </div><!-- .page-header-overlay -->
    <div class="container">
        <div class="row">
            <div class="col-12 offset-lg-1 col-lg-1">
                <div class="post-share">
                    <h3>Partager</h3>

                    <ul class="flex flex-wrap align-items-center p-0 m-0">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div><!-- .post-share -->
            </div><!-- .col -->

            <div class="col-12 col-lg-8">
                <div class="single-course-wrap">
                    <div class="course-info flex flex-wrap align-items-center">
                        <div class="course-author flex flex-wrap justify-content-center align-items-center mt-3">
                            <img src="{{univ.logo.url}}" alt="">

                            <div class="author-wrap">
                                <label class="m-0">Recteur</label>
                                <div class="author-name"><a href="#">Msr. Medi Kingura</a></div>
                            </div><!-- .author-wrap -->
                        </div><!-- .course-author -->

                        <div class="course-cats mt-3">
                            <label class="m-0">Ville</label>
                            <div class="author-name"><a href="#">Kinshasa</a></div>
                        </div>
                    </div>

                    <div class="single-course-cont-section">

                        <h2>Description</h2>

                        <p>{{univ.about|linebreaks}}</p>

                        <h2>Coordonnées</h2>

                        <ul class="p-0 m-0 black-doted">
                            <li>{{univ.contact|linebreaks}}</li>
                        </ul>
                    </div>

                    <div class="related-courses">
                        <header class="entry-heading flex flex-wrap justify-content-between align-items-center">
                            <h2 class="entry-title">{{facs.count}} Facultés</h2>

                            <!-- <a href="#">View all</a> -->
                        </header><!-- .entry-heading -->

                        <div class="row mx-m-25">
                            {% for fac in facs %}
                            <div class="col-12 col-md-6 col-lg-4 px-25">
                                <div class="course-content">
                                    <div class="course-content-wrap">
                                        <header class="entry-header">
                                            <h2 class="entry-title"><a href="{% url 'deps' fac.slug %}">{{fac.name}}</a></h2>
                                        </header>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div><!-- .row -->
                    </div><!-- .related-course -->
                </div><!-- .single-course-wrap -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->

{% endblock %}