{% extends 'home/base.html' %}
{% block title %}Infos{% endblock %}
{% block content %}

    <section class="latest-news-events">
        <div class="container">
            <div class="row mx-m-25">
                <div class="col-12 px-25">
                    <header class="heading flex flex-wrap justify-content-between align-items-center">
                        <h3>Tableau de bord</h3>
                    </header><!-- .heading -->
                </div><!-- .col -->

                <div class="col-12 px-25">
                    <ul class="list-group">
                        <li class="list-group-item p-2">
                            <a href="{% url 'back:add-univ' %}">Ajouter une université</a>
                        </li>
                    </ul>
                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </section>
        
{% endblock %}